<%= form_for(@kontrahenci) do |f| %>
  <% if @kontrahenci.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kontrahenci.errors.count, "error") %> prohibited this kontrahenci from being saved:</h2>

      <ul>
      <% @kontrahenci.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :system_id %><br>
    <%= f.number_field :system_id %>
  </div>
  <div class="field">
    <%= f.label :nazwa %><br>
    <%= f.text_field :nazwa %>
  </div>
  <div class="field">
    <%= f.label :nip %><br>
    <%= f.text_field :nip %>
  </div>
  <div class="field">
    <%= f.label :www %><br>
    <%= f.text_field :www %>
  </div>
  <div class="field">
    <%= f.label :numer_tel %><br>
    <%= f.text_field :numer_tel %>
  </div>
  <div class="field">
    <%= f.label :numer_fak %><br>
    <%= f.text_field :numer_fak %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :opiekun_id %><br>
    <%= f.number_field :opiekun_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
