<p id="notice"><%= notice %></p>

<h1>Listing Kontrahenci</h1>
</br>
<div class="digg_pagination">
<%= will_paginate @kontrahenci %>
</div>
</br>
<table class="table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Nip</th>
      <th>Id opiekun</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kontrahenci.each do |kontrahenci| %>
      <tr>
        <td><%= kontrahenci.system_id %></td>
        <td><%= kontrahenci.nazwa %></td>
        <td><%= kontrahenci.nip %></td>
        <td><%= Opiekun.find_by(id: kontrahenci.opiekun_id ).login %></td>
        <td><%= link_to 'Show', kontrahenci %></td>
        <td><%= link_to 'Edit', edit_kontrahenci_path(kontrahenci) %></td>
        <td><%= link_to 'Destroy', kontrahenci, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kontrahenci', new_kontrahenci_path %>
</br>
</br>
<div class="digg_pagination">
<%= will_paginate @kontrahenci %>
</div>