<h1>Lista kontrahentów</h1>
</br>
<div class="digg_pagination">
<%= will_paginate @kontrahenci %>
</div>
</br>
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Nip</th>
      <th>Id opiekun</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kontrahenci.each do |kontrahenci| %>
      <tr>
        <td><%= kontrahenci.system_id %></td>
        <td><%= kontrahenci.nazwa %></td>
        <td><%= kontrahenci.nip %></td>
        <td><%= kontrahenci.opiekun.login %></td>
        <td><%= link_to 'Pokaż', kontrahenci,  class: "btn btn-link" %></td>
        <td><%= link_to 'Edytuj', edit_kontrahenci_path(kontrahenci),  class: "btn btn-link" %></td>
        <td><%= link_to 'Kasuj', kontrahenci, method: :delete,  class: "btn btn-link",  data: { confirm: 'Czy jesteś pewny??'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowu kontrahent', new_kontrahenci_path %>
</br>
</br>
<div class="digg_pagination">
<%= will_paginate @kontrahenci %>
</div>