<p class="lead" >Podgląd: <%=@kontrahenci.nazwa %></p>

  <table class="table table-bordered table-hover">
  <tr><td><strong>Id system</strong></td><td><strong>Nazwa</strong></td></tr>
  <tr><td><%= @kontrahenci.system_id %></td><td><%= @kontrahenci.nazwa %></td></tr>
  <tr><td><strong>Status</strong></td><td><strong>Obroty z trzech ostatnich miesięcy</strong></td></tr>
  <tr>
    <% if @kontrahenci.status_text_id==0  %>
    <td bgcolor="#e6e6ff"> <%= @kontrahenci.status_text.status_text %></td>
    <% elsif @kontrahenci.status_text_id==1  %>
    <td bgcolor="#cceeff"> <%= @kontrahenci.status_text.status_text %></td>
    <% elsif @kontrahenci.status_text_id==2  %>
    <td bgcolor="#66ccff"> <%= @kontrahenci.status_text.status_text %></td>
    <% elsif @kontrahenci.status_text_id==3  %>
    <td bgcolor="#ff3300"> <%= @kontrahenci.status_text.status_text %></td>
    <% elsif @kontrahenci.status_text_id==4  %>
    <td bgcolor="#944dff"> <%= @kontrahenci.status_text.status_text %></td>
    <% elsif @kontrahenci.status_text_id==5  %>
    <td bgcolor="#80bfff"> <%= @kontrahenci.status_text.status_text %></td>
    <% elsif @kontrahenci.status_text_id==10  %>
    <td bgcolor="#66ff66"> <%= @kontrahenci.status_text.status_text %></td>
    <% end %>
    
    <td> <%= @suma.to_f %></td></tr>
  <tr><td><strong>Identyfikator opiekuna</strong></td></tr>
  <tr><td><%= @kontrahenci.opiekun.login %></td></tr>
    <tr><td><strong>NIP</strong></td></tr>
  <tr><td> <%= @kontrahenci.nip %></td></tr>
  <tr><td><strong>Www</strong></td><td><strong>Email</strong></td></tr>
  <tr><td><%= @kontrahenci.www %></td><td> <%= @kontrahenci.email %></td></tr>
  <tr><td><strong>Numer telefonu</strong></td><td><strong>Numer faksu</strong></td></tr>
  <tr><td><%= @kontrahenci.numer_tel %></td><td><%= @kontrahenci.numer_fak %></td></tr>
</table>


<button type="button" id="faktury" class="btn btn-primary">Pokaż Faktury</button>
<div id="faktury" class="">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Nip</th>
      <th>Id opiekun</th>
      <th>Status</th>
      </tr>
  </thead>
  
<% @faktury.each do |faktury| %>
        <tr>
        <td><%= faktury.id %></td>
        <td><%= faktury.kontrahenci_id %></td>
        <td><%= faktury.nr_faktury %></td>
        <td><%= faktury.kwota %></td>
        <td><%= faktury.vat %></td>
        </tr>
 <% end %>
  </table>
</div>
</br>
</br>
</br>
<button type="button" id="obroty" class="btn btn-primary">Pokaż Obroty</button>
<div id="obroty" class="">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Rok</th>
      <th>Miesiac</th>
      <th>Kwota</th>
      </tr>
  </thead>
 <% @obroty.each do |obroty| %>
<tr>
        <td><%= obroty.id %></td>
        <td><%= obroty.kontrahenci.nazwa %></td>
        <td><%= obroty.rok %></td>
        <td><%= obroty.miesiac %></td>
        <td><%= obroty.kwota %></td>
</tr>
 <% end %>
 </table>
</div>
</br>
</br>
</br>
<button type="button" id="osoby" class="btn btn-primary">Pokaż Osoby Kontaktowe</button>
<div id="osoby" class="">
  <table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th colspan="1"></th>
      </tr>
  </thead>
 <% @osoby.each do |osoba| %>
<tr>
        <td><%= osoba.id %></td>
        <td><%= osoba.imie %></td>
        <td><%= osoba.nazwisko %></td>
        <td><%= link_to 'Adresy', adres_osoba_lista_path(osoba),  class: "btn btn-link" %></td>
</tr>
 <% end %>
 </table>
</div>
</br>
</br>
</br>
<div>
<%= link_to 'Powrót', kontrahenci_index_path %>
</div>
