<p>
  <strong>Id system:</strong>
  <%= @kontrahenci.system_id %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @kontrahenci.nazwa %>
</p>

<p>
  <strong>Status:</strong>
  <%= @kontrahenci.status_text.status_text %>
</p>

<p>
  <strong>Id opiekun:</strong>
  <%= @kontrahenci.opiekun.login %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @kontrahenci.nip %>
</p>

<p>
  <strong>Www:</strong>
  <%= @kontrahenci.www %>
</p>

<p>
  <strong>Numer tel:</strong>
  <%= @kontrahenci.numer_tel %>
</p>

<p>
  <strong>Numer fak:</strong>
  <%= @kontrahenci.numer_fak %>
</p>

<p>
  <strong>Email:</strong>
  <%= @kontrahenci.email %>
</p>


<%= link_to 'Edycja', edit_kontrahenci_path(@kontrahenci) %> |
<%= link_to 'Powrót', kontrahenci_index_path %>
