<p id="notice"><%= notice %></p>

<p>
  <strong>Id system:</strong>
  <%= @kontrahenci.Id_system %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @kontrahenci.Nazwa %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @kontrahenci.NIP %>
</p>

<p>
  <strong>Www:</strong>
  <%= @kontrahenci.WWW %>
</p>

<p>
  <strong>Numer tel:</strong>
  <%= @kontrahenci.Numer_tel %>
</p>

<p>
  <strong>Numer fak:</strong>
  <%= @kontrahenci.Numer_fak %>
</p>

<p>
  <strong>Email:</strong>
  <%= @kontrahenci.Email %>
</p>

<p>
  <strong>Id opiekun:</strong>
  <%= @kontrahenci.Id_opiekun %>
</p>

<%= link_to 'Edit', edit_kontrahenci_path(@kontrahenci) %> |
<%= link_to 'Back', kontrahenci_index_path %>
