<p id="notice"><%= notice %></p>

<p>
  <strong>Id system:</strong>
  <%= @kontrahenci.system_id %>
</p>

<p>
  <strong>Nazwa:</strong>
  <%= @kontrahenci.nazwa %>
</p>

<p>
  <strong>Nip:</strong>
  <%= @kontrahenci.nip %>
</p>

<p>
  <strong>Www:</strong>
  <%= @kontrahenci.www %>
</p>

<p>
  <strong>Numer tel:</strong>
  <%= @kontrahenci.numer_tel %>
</p>

<p>
  <strong>Numer fak:</strong>
  <%= @kontrahenci.numer_fak %>
</p>

<p>
  <strong>Email:</strong>
  <%= @kontrahenci.email %>
</p>

<p>
  <strong>Id opiekun:</strong>
  <%= @kontrahenci.opiekun_id %>
</p>

<%= link_to 'Edit', edit_kontrahenci_path(@kontrahenci) %> |
<%= link_to 'Back', kontrahenci_index_path %>
