<h1>Lista obrotów</h1>

<table>
  <thead>
    <tr>
      <th>Kontrahent</th>
      <th>Rok</th>
      <th>Miesiac</th>
      <th>Kwota</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @obroty.each do |obroty| %>
      <tr>
        <td><%= obroty.kontrahenci_id %></td>
        <td><%= obroty.rok %></td>
        <td><%= obroty.miesiac %></td>
        <td><%= obroty.kwota %></td>
        <td><%= link_to 'Pokaż', obroty %></td>
        <td><%= link_to 'Skasuj', obroty, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
