<p>
  <strong>Kontrahent</strong>
  <%= @obroty.kontrahenci_id %>
</p>

<p>
  <strong>Rok:</strong>
  <%= @obroty.rok %>
</p>

<p>
  <strong>Miesiac:</strong>
  <%= @obroty.miesiac %>
</p>

<p>
  <strong>Kwota:</strong>
  <%= @obroty.kwota %>
</p>

<%= link_to 'Powrót', obroty_index_path %>
