<%= form_for(@dost_marketingowe) do |f| %>
  <% if @dost_marketingowe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dost_marketingowe.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @dost_marketingowe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Kontrahent %><br>
     <%= f.select :kontrahenci_id, Kontrahenci.all.order(:nazwa).map { |p| [p.nazwa, p.id] }, {:prompt => "Wybierz klienta"}, { :class => "chosen-select" } %>
  </div>
  <div class="field">
    <%= f.label :typ %><br>
    <%= f.text_field :typ %>
  </div>
  <div class="field">
    <%= f.label :ile %><br>
    <%= f.text_field :ile %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
