<h1>Lista dostaw marketingowych</h1>

<p>
  
  Download:
  <%= link_to "CSV", params.merge(:format => :csv), :class => "dost_marketingowe" %> |
  <%= link_to "TXT", params.merge(:format => :txt), :class => "dost_marketingowe" %>
    
</p>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Id kont klient</th>
      <th>Typ</th>
      <th>Ile</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dost_marketingowe.each do |dost_marketingowe| %>
      <tr>
        <td><%= dost_marketingowe.kontrahenci.nazwa %></td>
        <td><%= dost_marketingowe.typ %></td>
        <td><%= dost_marketingowe.ile %></td>
        <td><%= dost_marketingowe.data %></td>
        <td><%= link_to 'Show', dost_marketingowe,  class: "btn btn-link" %></td>
        <td><%= link_to 'Edit', edit_dost_marketingowe_path(dost_marketingowe),  class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', dost_marketingowe, method: :delete,  class: "btn btn-link", data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj dostawę marketingową', new_dost_marketingowe_path %>
