<p>
  <strong>Nazwa klienta:</strong>
  <%= @dost_marketingowe.kontrahenci.nazwa %>
</p>

<p>
  <strong>Typ dostawy marketingowej:</strong>
  <%= @dost_marketingowe.typ %>
</p>

<p>
  <strong>Ilość dostarczonych materiałów:</strong>
  <%= @dost_marketingowe.ile %>
</p>
<p>
<strong>Data dostawy:</strong>
  <%= @dost_marketingowe.data %>
</p>

<%= link_to 'Edit', edit_dost_marketingowe_path(@dost_marketingowe) %> |
<%= link_to 'Back', dost_marketingowe_index_path %>
