<p id="notice"><%= notice %></p>

<p>
  <strong>Id kont klient:</strong>
  <%= @dost_marketingowe.Id_Kont_klient %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @dost_marketingowe.Typ %>
</p>

<p>
  <strong>Ile:</strong>
  <%= @dost_marketingowe.Ile %>
</p>

<%= link_to 'Edit', edit_dost_marketingowe_path(@dost_marketingowe) %> |
<%= link_to 'Back', dost_marketingowe_index_path %>
