<%= form_for(@zlecenie) do |f| %>
  <% if @zlecenie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zlecenie.errors.count, "error") %> prohibited this zlecenie from being saved:</h2>

      <ul>
      <% @zlecenie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kontrahenci_id %><br>
     <%= f.select :kontrahenci_id, Kontrahenci.all.order(:nazwa).map { |p| [p.nazwa, p.id] }, {:prompt => ""}, { :class => "chosen-select" } %>
  </div>
  <div class="field">
    <%= f.label :kierownik_id %><br>
       <%= f.select :kierownik_id, options_from_collection_for_select( Kierownik.all, 'id', 'login', @zlecenie.kierownik_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :opiekun_id %><br>
     <%= f.select :opiekun_id, options_from_collection_for_select( Opiekun.all, 'id', 'login', @zlecenie.opiekun_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :data_utworzenia %><br>
    <%= f.date_select :data_utworzenia %>
  </div>
  <div class="field">
    <%= f.label :data_zlecenia %><br>
    <%= f.date_select :data_zlecenia %>
  </div>
  <div class="field">
    <%= f.label :typ_spotkania_id %><br>
    <%=  f.select :typ_spotkania_id, options_from_collection_for_select( TypSpotkania.all, 'id', 'typ', @zlecenie.typ_spotkania_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_area :opis, :size=>"80", :maxlength=>"254" %>
  </div>
  <div class="field">
    <%= f.label :status_zlecenia_id %><br>
    <%=  f.select :status_zlecenia_id, options_from_collection_for_select( StatusZlecenia.all, 'id', 'status', @zlecenie.status_zlecenia_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :raport %><br>
    <%= f.text_area :raport, cols: "80", rows: "6" %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info, cols: "80", rows: "6" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
