<% logger.debug "_lista.html" %>
<%= form_for(@zlecenie) do |f| %>
  <% if @zlecenie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zlecenie.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @zlecenie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kierownik_id %><br>
    <%= f.number_field :kierownik_id %>
  </div>
  <div class="field">
    <%= f.label :opiekun_id %><br>
    <%= f.number_field :opiekun_id %>
  </div>
  <div class="field">
    <%= f.label :data_utworzenia %><br>
    <%= f.date_select :data_utworzenia %>
  </div>
  <div class="field">
    <%= f.label :data_zlecenia %><br>
    <%= f.date_select :data_zlecenia %>
  </div>
  <div class="field">
    <%= f.label :typ %><br>
    <%= f.number_field :typ %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_field :opis %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :raport %><br>
    <%= f.text_area :raport %>
  </div>
  <div class="field">
    <%= f.label :info %><br>
    <%= f.text_area :info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
