<%= form_for(@zlecenie) do |f| %>
  <% if @zlecenie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zlecenie.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @zlecenie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.label :kontrahenci_id %><br>
  <%= f.select :kontrahenci_id, Kontrahenci.all.order(:nazwa).map { |p| [p.nazwa, p.id] }, {:prompt => "Wybierz klienta"}, { :class => "chosen-select" } %>
  </div>
  
  <div class="field">
    <%= f.label :opiekun_id %><br>
    <%= f.select :opiekun_id, options_from_collection_for_select( Opiekun.all, 'id', 'login', @zlecenie.opiekun_id.to_s), :prompt => "" %>
  </div>
    <div class="field">
    <%= f.label :data_zlecenia %><br>
    <%= f.date_select :data_zlecenia %>
  </div>
  <div class="field">
    <%= f.label :typ_spotkania_id %><br>
    <%= f.select :typ_spotkania_id, options_from_collection_for_select( TypSpotkania.all, 'id', 'typ', @zlecenie.typ_spotkania_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_field :opis, :size=>"80", :maxlength=>"254" %>
  </div>
  <div class="field">
    <%= f.hidden_field :status_zlecenia_id , :value => 1 %>
  </div>
    <div class="field">
    <%= f.hidden_field :kierownik_id , :value => current_user.id - 1 %> <!-- current_user.id %-->
  </div>
  <div class="field">
    <%= f.hidden_field :data_utworzenia, :value => Time.now.strftime("%Y-%m-%d") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
