<h1>Lista zleceń</h1>

</br>
<div class="digg_pagination">
<%= will_paginate @zlecenie %>
</div>

<table class="table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Kontrahent</th>
      <th>Kierownik zlecający</th>
      <th>Zlecony opiekunowi</th>
      <th>Data utworzenia</th>
      <th>Data zlecenia</th>
      <th>Typ</th>
      <th>Opis</th>
      <th>Status</th>
      <th>Raport</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zlecenie.each do |zlecenie| %>
      <tr>
        <td><%= zlecenie.kontrahenci_id %></td>
        <td><%= zlecenie.kierownik_id %></td>
        <td><%= zlecenie.opiekun_id %></td>
        <td><%= zlecenie.data_utworzenia %></td>
        <td><%= zlecenie.data_zlecenia %></td>
        <td><%= zlecenie.typ_spotkania_id %></td>
        <td><%= zlecenie.opis %></td>
        <td><%= zlecenie.status_zlecenia_id %></td>
        <td><%= zlecenie.raport %></td>
        <td><%= zlecenie.info %></td>
        <td><%= link_to 'Show', zlecenie %></td>
        <td><%= link_to 'Edit', edit_zlecenie_path(zlecenie) %></td>
        <td><%= link_to 'Destroy', zlecenie, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</br>
<div class="digg_pagination">
<%= will_paginate @zlecenie %>
</div>
</br>
<%= link_to 'New Zlecenie', new_zlecenie_path %>
