</br>
<div class="digg_pagination">
<!--%= will_paginate @zlecenie %-->
</div>
</br>
<table class="table-bordered table-striped table-hover align-middle">
  <thead>
    <tr>
      <th>Kontrahent</th>
      <th>Opiekun</th>
      <th>Data zlecenia</th>
      <th>Typ</th>
      <th>Opis</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% @zlecenie.each do |zlecenie| %>
   <% if zlecenie.opiekun.login = current_user.username then %>
      <tr>
        <td><%= zlecenie.kontrahenci.nazwa %></td>
        <td><%= zlecenie.opiekun.login %></td>
        <td><%= zlecenie.data_zlecenia %></td>
        <td><%= zlecenie.typ_spotkania.typ %></td>
        <td><%= zlecenie.opis %></td>
        <td><%= zlecenie.status_zlecenia.status %></td>
        <td><%= link_to 'Realizacja', zlecenie_realizacja_url(zlecenie),  class: "btn btn-link"  %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>
<div class="digg_pagination">
<!--%= will_paginate @zlecenie %-->
</div>
