
<p>
  <strong>Kontrahent:</strong>
  <%= @zlecenie.kontrahenci.nazwa %>
</p>

<p>
  <strong>Kierownik:</strong>
  <%= @zlecenie.kierownik.login %>
</p>

<p>
  <strong>Opiekun:</strong>
  <%= @zlecenie.opiekun.login %>
</p>

<p>
  <strong>Data utworzenia:</strong>
  <%= @zlecenie.data_utworzenia %>
</p>

<p>
  <strong>Data zlecenia:</strong>
  <%= @zlecenie.data_zlecenia %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @zlecenie.typ_spotkania.typ %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @zlecenie.opis %>
</p>

<p>
  <strong>Status:</strong>
  <%= @zlecenie.status_zlecenia.status %>
</p>

<p>
  <strong>Raport:</strong>
  <%= @zlecenie.raport %>
</p>

<p>
  <strong>Info:</strong>
  <%= @zlecenie.info %>
</p>

<%= link_to 'Edit', edit_zlecenie_path(@zlecenie) %> |
<%= link_to 'Back', zlecenie_index_path %>
