
<div class="row">
    <div class="col-md-2">
        <div class="navbar-brand>
            <%= link_to image_tag('logo.png', width: '100', height: '75', alt: 'Logo'), '/', title: 'Logo', relative: true, class: "btn btn-link " %>
  </div>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-10 pull-right">
                <div class="pull-right">
                <% if user_signed_in? %>
                <%# logowanie i wylogowywanie %>
                <p class="btn pull-righ">
                <span class="glyphicon glyphicon-log-in"></span>
                <%= link_to('Logout', destroy_user_session_path, method: :delete,  class: "btn btn-link") %> 
                </p>
                <% else %>
                <div class="btn pull-righ">
                <span class="glyphicon glyphicon-user"></span> 
                <%= link_to 'Login', new_user_session_path, class: "btn btn-link"  %>  
                </div>
                <% end %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="container">
                    <%# Czy użytkownik jest zalogowany %>
                    <% if user_signed_in? %>
                    <%# czy uzytkownikiem jest administrator %>
                    <% if current_user.id  == 1 %>
                    <%= link_to('Edycja użytkowników', opiekun_index_path,  class: "btn btn-link") %>
                    <%= link_to('Import kontrahentów', load_kontrahenci_upload_path,  class: "btn btn-link") %>
                    <%# czy uzytkownikiem jest kierownik %>
                    <% elsif current_user.id  == 2 %>
                    <%= link_to('Edycja Kontrahentów', kontrahenci_index_path,  class: "btn btn-link") %>
                    <%= link_to('Dodanie zlecenia', zlecenie_index_path,  class: "btn btn-link") %>
                    <%= link_to('Odmowa', odmowa_mark_index_path,  class: "btn btn-link") %>
                    <%# jezeli inny uzytkownik  %>
                    <% else %>
                    <%= link_to('Edycja Kontrahentów', kontrahenci_index_path,  class: "btn btn-link") %>
                    <%= link_to('Odmowa', odmowa_mark_index_path,  class: "btn btn-link") %>
                    
                    
                    <% end %>
                    <% end %>
            </div>
    </div>
</div>
</div>
