<%= form_for(@adres_osoba) do |f| %>
  <% if @adres_osoba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adres_osoba.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @adres_osoba.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :osoba_kont_id %><br>
    <%= f.select :osoba_kont_id, options_from_collection_for_select( OsobaKont.all, 'id', 'imie_and_nazwisko', @adres_osoba.osoba_kont_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :typ_adresu_id %><br>
    <%= f.select :typ_adresu_id, options_from_collection_for_select( TypAdresu.all, 'id', 'typ', @adres_osoba.typ_adresu_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :kraj %><br>
    <%= f.text_field :kraj %>
  </div>
  <div class="field">
    <%= f.label :kod_pocztowy %><br>
    <%= f.text_field :kod_pocztowy %>
  </div>
  <div class="field">
    <%= f.label :miasto %><br>
    <%= f.text_field :miasto %>
  </div>
  <div class="field">
    <%= f.label :skrytka %><br>
    <%= f.text_field :skrytka %>
  </div>
  <div class="field">
    <%= f.label :ulica %><br>
    <%= f.text_field :ulica %>
  </div>
  <div class="field">
    <%= f.label :nr_budynku %><br>
    <%= f.text_field :nr_budynku %>
  </div>
  <div class="field">
    <%= f.label :nr_lokalu %><br>
    <%= f.text_field :nr_lokalu %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_area :opis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
