<h1>Lista adresów osób kont.</h1>

<table>
  <thead>
    <tr>
      <th>Id osoba kont</th>
      <th>Typ</th>
      <th>Kraj</th>
      <th>Kod pocztowy</th>
      <th>Miasto</th>
      <th>Skrytka</th>
      <th>Ulica</th>
      <th>Nr budynku</th>
      <th>Nr lokalu</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adres_osoba.each do |adres_osoba| %>
      <tr>
        <td><%= adres_osoba.osoba_kont_id %></td>
        <td><%= adres_osoba.typ_adresu_id %></td>
        <td><%= adres_osoba.kraj %></td>
        <td><%= adres_osoba.kod_pocztowy %></td>
        <td><%= adres_osoba.miasto %></td>
        <td><%= adres_osoba.skrytka %></td>
        <td><%= adres_osoba.ulica %></td>
        <td><%= adres_osoba.nr_budynku %></td>
        <td><%= adres_osoba.nr_lokalu %></td>
        <td><%= adres_osoba.opis %></td>
        <td><%= link_to 'Show', adres_osoba %></td>
        <td><%= link_to 'Edit', edit_adres_osoba_path(adres_osoba) %></td>
        <td><%= link_to 'Destroy', adres_osoba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adres osoba', new_adres_osoba_path %>
