<p id="notice"><%= notice %></p>

<p>
  <strong>Id osoba kont:</strong>
  <%= @adres_osoba.Id_Osoba_kont %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @adres_osoba.Typ %>
</p>

<p>
  <strong>Kraj:</strong>
  <%= @adres_osoba.Kraj %>
</p>

<p>
  <strong>Kod pocztowy:</strong>
  <%= @adres_osoba.Kod_pocztowy %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @adres_osoba.Miasto %>
</p>

<p>
  <strong>Skrytka:</strong>
  <%= @adres_osoba.Skrytka %>
</p>

<p>
  <strong>Ulica:</strong>
  <%= @adres_osoba.Ulica %>
</p>

<p>
  <strong>Nr budynku:</strong>
  <%= @adres_osoba.Nr_budynku %>
</p>

<p>
  <strong>Nr lokalu:</strong>
  <%= @adres_osoba.Nr_lokalu %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @adres_osoba.Opis %>
</p>

<%= link_to 'Edit', edit_adres_osoba_path(@adres_osoba) %> |
<%= link_to 'Back', adres_osoba_index_path %>
