<p id="notice"><%= notice %></p>

<p>
  <strong>Id osoba kont:</strong>
  <%= @adres_osoba.osoba_kont_id %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @adres_osoba.typ_adresu_id %>
</p>

<p>
  <strong>Kraj:</strong>
  <%= @adres_osoba.kraj %>
</p>

<p>
  <strong>Kod pocztowy:</strong>
  <%= @adres_osoba.kod_pocztowy %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @adres_osoba.miasto %>
</p>

<p>
  <strong>Skrytka:</strong>
  <%= @adres_osoba.skrytka %>
</p>

<p>
  <strong>Ulica:</strong>
  <%= @adres_osoba.ulica %>
</p>

<p>
  <strong>Nr budynku:</strong>
  <%= @adres_osoba.nr_budynku %>
</p>

<p>
  <strong>Nr lokalu:</strong>
  <%= @adres_osoba.nr_lokalu %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @adres_osoba.opis %>
</p>

<%= link_to 'Edit', edit_adres_osoba_path(@adres_osoba) %> |
<%= link_to 'Back', adres_osoba_index_path %>
