<h1>Lista opiekunów</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Login</th>
      <th>Aktywny</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opiekun.each do |opiekun| %>
      <tr>
        <td><%= opiekun.imie %></td>
        <td><%= opiekun.nazwisko %></td>
        <td><%= opiekun.login %></td>
        <td><%= opiekun.aktywny %></td>
        <td><%= link_to 'Pokaż', opiekun ,  class: "btn btn-link"%></td>
        <td><%= link_to 'Edytuj', edit_opiekun_path(opiekun),  class: "btn btn-link" %></td>
        <td><%= link_to 'Skasuj', opiekun, method: :delete, data: { confirm: 'Czy jesteś pewny?' },  class: "btn btn-link" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy opiekun', new_opiekun_path ,  class: "btn btn-link"%>
