<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @opiekun.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @opiekun.nazwisko %>
</p>

<p>
  <strong>Login:</strong>
  <%= @opiekun.login %>
</p>

<p>
  <strong>Aktywny:</strong>
  <%= @opiekun.aktywny %>
</p>

<%= link_to 'Edytuj', edit_opiekun_path(@opiekun),  class: "btn btn-link" %> |
<%= link_to 'Wróć', opiekun_index_path,  class: "btn btn-link" %>
