<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @opiekun.Imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @opiekun.Nazwisko %>
</p>

<p>
  <strong>Login:</strong>
  <%= @opiekun.Login %>
</p>

<p>
  <strong>Aktywny:</strong>
  <%= @opiekun.Aktywny %>
</p>

<%= link_to 'Edytuj', edit_opiekun_path(@opiekun),  class: "btn btn-link" %> |
<%= link_to 'Wróć', opiekun_index_path,  class: "btn btn-link" %>
