<%= form_for(@kont_klient) do |f| %>
  <% if @kont_klient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kont_klient.errors.count, "error") %> prohibited this kont_klient from being saved:</h2>

      <ul>
      <% @kont_klient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kontrahenci_id %><br>
     <%= f.select :kontrahenci_id, Kontrahenci.all.order(:nazwa).map { |p| [p.nazwa, p.id] }, {:prompt => "Wybierz klienta"}, { :class => "chosen-select form-control" } %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :typ %><br>
    <%=  f.select :typ_spotkania_id, options_from_collection_for_select( TypSpotkania.all, 'id', 'typ', @kont_klient.typ_spotkania_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :cel %><br>
    <%=  f.select :cel_kontaktu_id, options_from_collection_for_select( CelKontaktu.all, 'id', 'cel', @kont_klient.cel_kontaktu_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :raport %><br>
    <%= f.text_area :raport, cols: "80", rows: "6" %>
  </div>
  <div class="field">
    <%= f.label :inf_dodat %><br>
    <%= f.text_area :inf_dodat, cols: "80", rows: "6" %>
  </div>
  <div class="field">
    <%= f.hidden_field :opiekun_id , :value => current_user.id-1 %> <!-- current_user.id %-->
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
