<h1>Listing Kont Klient</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Id kontrahenci</th>
      <th>Data</th>
      <th>Typ</th>
      <th>Cel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kont_klient.each do |kont_klient| %>
      <tr>
        <td><%= kont_klient.kontrahenci.nazwa %></td>
        <td><%= kont_klient.data %></td>
        <td><%= kont_klient.typ_spotkania.typ %></td>
        <td><%= kont_klient.cel_spotkania.cel %></td>
        <td><%= link_to 'Show', kont_klient ,  class: "btn btn-link"%></td>
        <td><%= link_to 'Edit', edit_kont_klient_path(kont_klient),  class: "btn btn-link" %></td>
        <td><%= link_to 'Destroy', kont_klient,  class: "btn btn-link", method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy kontakt z klientem', new_kont_klient_path %>
