<p>
  <strong>Kontrahent:</strong>
  <%= @kont_klient.kontrahenci.nazwa %>
</p>

<p>
  <strong>Opiekun kontaktu:</strong>
  <%= @kont_klient.opiekun.login %>
</p>

<p>
  <strong>Data:</strong>
  <%= @kont_klient.data %>
</p>

<p>
  <strong>Typ spotkania:</strong>
  <%= @kont_klient.typ_spotkania.typ %>
</p>

<p>
  <strong>Cel spotkania:</strong>
  <%= @kont_klient.cel_kontaktu.cel %>
</p>

<p>
  <strong>Raport:</strong>
  <%= @kont_klient.raport %>
</p>

<p>
  <strong>Inf dodat:</strong>
  <%= @kont_klient.inf_dodat %>
</p>

<%= link_to 'Edycja', edit_kont_klient_path(@kont_klient) %> |
<%= link_to 'Powrót', kont_klient_index_path %>
