<%= form_for(@odmowa) do |f| %>
  <% if @odmowa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odmowa.errors.count, "error") %> prohibited this odmowa from being saved:</h2>

      <ul>
      <% @odmowa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kont_klient_id %><br>
    <%= f.number_field :kont_klient_id %>
  </div>
  <div class="field">
    <%= f.label :odmowa %><br>
    <%= f.number_field :odmowa %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
