<%= form_for(@odmowa) do |f| %>
  <% if @odmowa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odmowa.errors.count, "błędów") %>  uniemożliwia zapisanie tego kontrahenta:</h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kont_klient_id %><br>
    <%= f.number_field :kont_klient_id %>
  </div>
  
  <div class="field">
    <%= f.label :odmowa_typ %><br>
    <%= f.select :odmowa_typ, options_from_collection_for_select( OdmowaTyp.all, 'id', 'typ', @odmowa.odmowa_typ.to_i), :prompt => "" %>
  </div>
  
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
