<h1>Lista odmów</h1>

<table>
  <thead>
    <tr>
      <th>Id kont klient</th>
      <th>Odmowa</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @odmowa.each do |odmowa| %>
      <tr>
        <td><%= odmowa.kont_klient_id %></td>
        <td><%= odmowa.odmowa_typ %></td>
        <td><%= odmowa.data %></td>
        <td><%= link_to 'Show', odmowa %></td>
        <td><%= link_to 'Edit', edit_odmowa_path(odmowa) %></td>
        <td><%= link_to 'Destroy', odmowa, method: :delete, data: { confirm: 'Czy aby na pewno?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Odmowa', new_odmowa_path %>
