<p id="notice"><%= notice %></p>

<p>
  <strong>Id kont klient:</strong>
  <%= @odmowa.kont_klient_id %>
</p>

<p>
  <strong>Odmowa:</strong>
  <%= @odmowa.odmowa %>
</p>

<p>
  <strong>Data:</strong>
  <%= @odmowa.data %>
</p>

<%= link_to 'Edit', edit_odmowa_path(@odmowa) %> |
<%= link_to 'Back', odmowa_index_path %>
