<%= form_for(@adres_kontr) do |f| %>
  <% if @adres_kontr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adres_kontr.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @adres_kontr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Kontrahent" %><br>
    <%= f.select :kontrahenci_id, Kontrahenci.all.order(:nazwa).map { |p| [p.nazwa, p.id] }, {:prompt => "Wybierz klienta"}, { :class => "chosen-select" }  %>
  </div>
  <div class="field">
    <%= f.label "Typ adresu" %><br>
    <%= f.select :typ_adresu_id, options_from_collection_for_select( TypAdresu.all, 'id', 'typ', @adres_kontr.typ_adresu_id.to_s), :prompt => ""%>
  </div>
  <div class="field">
    <%= f.label "Kraj" %><br>
    <%= f.text_field :kraj %>
  </div>
  <div class="field">
    <%= f.label "Kod pocztowy" %><br>
    <%= f.text_field :kod_pocztowy %>
  </div>
  <div class="field">
    <%= f.label "Miasto" %><br>
    <%= f.text_field :miasto %>
  </div>
  <div class="field">
    <%= f.label "Skrytka" %><br>
    <%= f.text_field :skrytka %>
  </div>
  <div class="field">
    <%= f.label "Ulica" %><br>
    <%= f.text_field :ulica %>
  </div>
  <div class="field">
    <%= f.label "Nr budynku" %><br>
    <%= f.text_field :nr_budynku %>
  </div>
  <div class="field">
    <%= f.label "Nr lokalu" %><br>
    <%= f.text_field :nr_lokalu %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
