<h1>Lista adresów kontrahentów</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Kontrahent</th>
      <th>Typ</th>
      <th>Kraj</th>
      <th>Kod pocztowy</th>
      <th>Miasto</th>
      <th>Skrytka</th>
      <th>Ulica</th>
      <th>Nr budynku</th>
      <th>Nr lokalu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adres_kontr.each do |adres_kontr| %>
      <tr>
        <td><%= adres_kontr.kontrahenci.nazwa %></td>
        <td><%= adres_kontr.typ_adresu.typ %></td>
        <td><%= adres_kontr.kraj %></td>
        <td><%= adres_kontr.kod_pocztowy %></td>
        <td><%= adres_kontr.miasto %></td>
        <td><%= adres_kontr.skrytka %></td>
        <td><%= adres_kontr.ulica %></td>
        <td><%= adres_kontr.nr_budynku %></td>
        <td><%= adres_kontr.nr_lokalu %></td>
        <td><%= link_to 'Pokaż', adres_kontr,  class: "btn btn-link" %></td>
        <td><%= link_to 'Edytuj', edit_adres_kontr_path(adres_kontr), class: "btn btn-link" %></td>
        <td><%= link_to 'Skasuj', adres_kontr,  class: "btn btn-link", method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy adres kontrahenta', new_adres_kontr_path %>
