<p>
  <strong>Kontrahent</strong>
  <%= @adres_kontr.kontrahenci.nazwa %>
</p>

<p>
  <strong>Typ:</strong>
  <%= @adres_kontr.typ_adresu.typ %>
</p>

<p>
  <strong>Kraj:</strong>
  <%= @adres_kontr.kraj %>
</p>

<p>
  <strong>Kod pocztowy:</strong>
  <%= @adres_kontr.kod_pocztowy %>
</p>

<p>
  <strong>Miasto:</strong>
  <%= @adres_kontr.miasto %>
</p>

<p>
  <strong>Skrytka:</strong>
  <%= @adres_kontr.skrytka %>
</p>

<p>
  <strong>Ulica:</strong>
  <%= @adres_kontr.ulica %>
</p>

<p>
  <strong>Nr budynku:</strong>
  <%= @adres_kontr.nr_budynku %>
</p>

<p>
  <strong>Nr lokalu:</strong>
  <%= @adres_kontr.nr_lokalu %>
</p>

<%= link_to 'Edycja', edit_adres_kontr_path(@adres_kontr) %> |
<%= link_to 'Powrót', adres_kontr_index_path %>
