<%= form_for(@inf_dodatka_kontr) do |f| %>
  <% if @inf_dodatka_kontr.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inf_dodatka_kontr.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @inf_dodatka_kontr.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kontrahenci_id %><br>
     <%= f.select :kontrahenci_id, Kontrahenci.all.order(:nazwa).map { |p| [p.nazwa, p.id] }, {:prompt => "Wybierz klienta"}, { :class => "chosen-select" } %>
  </div>
  <div class="field">
    <%= f.label :inf_dodatkowa %><br>
    <%= f.text_area :inf_dodatkowa, cols: "80", rows: "6"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
