<h1>Lista informacji dodatkowych kontr.</h1>

<table>
  <thead>
    <tr>
      <th>KOntrahent</th>
      <th>Informacja dodatkowa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inf_dodatka_kontr.each do |inf_dodatka_kontr| %>
      <tr>
        <td><%= inf_dodatka_kontr.kontrahenci_id %></td>
        <td><%= inf_dodatka_kontr.inf_dodatkowa %></td>
        <td><%= link_to 'Pokaż', inf_dodatka_kontr %></td>
        <td><%= link_to 'Edycja', edit_inf_dodatka_kontr_path(inf_dodatka_kontr) %></td>
        <td><%= link_to 'Powrót', inf_dodatka_kontr, method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Mowa informacja dodatkowa', new_inf_dodatka_kontr_path %>
