<h1>Lista statusów</h1>
</br>
<div class="digg_pagination">
<%= will_paginate @status %>
</div>
</br>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Kontrahent</th>
      <th>Status</th>
      </tr>
  </thead>

  <tbody>
    <% @status.each do |status| %>
      <tr>
        <td><%= status.id %></td>
        <td><%= status.nazwa %></td>
        <td><%= status.status_text.status_text %></td>
        </tr>
    <% end %>
  </tbody>
</table>
</br>
<div class="digg_pagination">
<%= will_paginate @status %>
</div>