<p id="notice"><%= notice %></p>

<p>
  <strong>kontrahenci id:</strong>
  <%= @status.kontrahenci_id %>
</p>

<p>
  <strong>status:</strong>
  <%= @status.status_text_id %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', status_index_path %>
