<%= form_for(@faktury) do |f| %>
  <% if @faktury.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@faktury.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @faktury.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kontrahenci_id %><br>
    <%= f.number_field :kontrahenci_id %>
  </div>
  <div class="field">
    <%= f.label :nr_faktury %><br>
    <%= f.text_field :nr_faktury %>
  </div>
  <div class="field">
    <%= f.label :kwota %><br>
    <%= f.text_field :kwota %>
  </div>
  <div class="field">
    <%= f.label :vat %><br>
    <%= f.text_field :vat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
