<p id="notice"><%= notice %></p>

<h1>Listing Faktury</h1>

<table>
  <thead>
    <tr>
      <th>Id kontrahenci</th>
      <th>Nr faktury</th>
      <th>Kwota</th>
      <th>Vat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faktury.each do |faktury| %>
      <tr>
        <td><%= faktury.Id_kontrahenci %></td>
        <td><%= faktury.Nr_faktury %></td>
        <td><%= faktury.Kwota %></td>
        <td><%= faktury.VAT %></td>
        <td><%= link_to 'Show', faktury %></td>
        <td><%= link_to 'Edit', edit_faktury_path(faktury) %></td>
        <td><%= link_to 'Destroy', faktury, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faktury', new_faktury_path %>
