<%= form_for(@kierownik) do |f| %>
  <% if @kierownik.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kierownik.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @kierownik.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :imie %><br>
    <%= f.text_field :imie %>
  </div>
  <div class="field">
    <%= f.label :nazwisko %><br>
    <%= f.text_field :nazwisko %>
  </div>
  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login %>
  </div>
  <div class="field">
    <%= f.label :aktywny %><br>
    <%= f.check_box :aktywny %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
