<h1>Lista kierowników</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Login</th>
      <th>Aktywny</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kierownik.each do |kierownik| %>
      <tr>
        <td><%= kierownik.imie %></td>
        <td><%= kierownik.nazwisko %></td>
        <td><%= kierownik.login %></td>
        <td><%= kierownik.aktywny %></td>
        <td><%= link_to 'Pokaż', kierownik,  class: "btn btn-link" %></td>
        <td><%= link_to 'Edycja', edit_kierownik_path(kierownik),  class: "btn btn-link" %></td>
        <td><%= link_to 'Skasuj', kierownik,  class: "btn btn-link", method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy kierownik', new_kierownik_path %>
