<p>
  <strong>Imie:</strong>
  <%= @kierownik.imie %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @kierownik.nazwisko %>
</p>

<p>
  <strong>Login:</strong>
  <%= @kierownik.login %>
</p>

<p>
  <strong>Aktywny:</strong>
  <%= @kierownik.aktywny %>
</p>

<%= link_to 'Edycja', edit_kierownik_path(@kierownik) %> |
<%= link_to 'Powrót', kierownik_index_path %>
