<%= form_for(@numer_osoba) do |f| %>
  <% if @numer_osoba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@numer_osoba.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @numer_osoba.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :osoba_kont_id %><br>
    <%= f.select :osoba_kont_id, options_from_collection_for_select( OsobaKont.all, 'id', 'imie_and_nazwisko', @numer_osoba.osoba_kont_id.to_s), :prompt => "" %>
  </div>
   <div class="field">
    <%= f.label :typ_kontaktu %><br>
    <%= f.select :typ_kontaktu_id, options_from_collection_for_select( TypKontaktu.all, 'id', 'typ', @numer_osoba.typ_kontaktu_id.to_s), :prompt => "" %>
  </div>
  <div class="field">
    <%= f.label :kontakt %><br>
    <%= f.text_field :kontakt, :size=>"80", :maxlength=>"254" %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_area :opis, cols: "80", rows: "6" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
