<%= form_for(@numer_osoba) do |f| %>
  <% if @numer_osoba.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@numer_osoba.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @numer_osoba.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :osoba_kont_id %><br>
    <%= f.number_field :osoba_kont_id %>
  </div>
  <div class="field">
    <%= f.label :kontakt %><br>
    <%= f.text_field :kontakt %>
  </div>
  <div class="field">
    <%= f.label :typ %><br>
    <%= f.number_field :typ %>
  </div>
  <div class="field">
    <%= f.label :opis %><br>
    <%= f.text_area :opis %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
