<p id="notice"><%= notice %></p>

<h1>Listing Numer Osoba</h1>

<table>
  <thead>
    <tr>
      <th>Id osoba kont</th>
      <th>Kontakt</th>
      <th>Typ</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @numer_osoba.each do |numer_osoba| %>
      <tr>
        <td><%= numer_osoba.Id_Osoba_kont %></td>
        <td><%= numer_osoba.Kontakt %></td>
        <td><%= numer_osoba.Typ %></td>
        <td><%= numer_osoba.Opis %></td>
        <td><%= link_to 'Show', numer_osoba %></td>
        <td><%= link_to 'Edit', edit_numer_osoba_path(numer_osoba) %></td>
        <td><%= link_to 'Destroy', numer_osoba, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Numer osoba', new_numer_osoba_path %>
