<p>
  <strong>Id osoba kont:</strong>
  <%= @numer_osoba.osoba_kont.imie_and_nazwisko %>
</p>
<p>
  <strong>Typ kontaktu:</strong>
  <%= @numer_osoba.typ_kontaktu.typ %>
</p>
<p>
  <strong>Kontakt:</strong>
  <%= @numer_osoba.kontakt %>
</p>
<p>
  <strong>Opis:</strong>
  <%= @numer_osoba.opis %>
</p>

<%= link_to 'Edycja', edit_numer_osoba_path(@numer_osoba) %> |
<%= link_to 'Powrót', numer_osoba_index_path %>
