<%= form_for(@osoba_kont) do |f| %>
  <% if @osoba_kont.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@osoba_kont.errors.count, 'błędów') %> uniemożliwia zapisanie tego kontrahenta:</h2>

      <ul>
      <% @osoba_kont.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="field">
    <%= f.label "Kontrahent" %><br>
    <%= f.select :kontrahenci_id, Kontrahenci.all.order(:nazwa).map { |p| [p.nazwa, p.id] }, {:prompt => ""}, { :class => "chosen-select" } %>
  </div>
  <div class="field">
    <%= f.label :imie %><br>
    <%= f.text_field :imie %>
  </div>
  <div class="field">
    <%= f.label :imiona %><br>
    <%= f.text_field :imiona %>
  </div>
  <div class="field">
    <%= f.label :nazwisko %><br>
    <%= f.text_field :nazwisko %>
  </div>
  <div class="field">
    <%= f.label "Data urodzenia" %><br>
    <%= f.date_select :data_urodz, :start_year => Date.current.year - 70 , :end_year => Date.current.year  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
