<h1>Lista osób kontaktowych</h1>

<table  class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th>Kontrahent</th>
      <th>Imie</th>
      <th>Nazwisko</th>
      <th>Data urodzenia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @osoba_kont.each do |osoba_kont| %>
      <tr>
        <td><%= osoba_kont.kontrahenci.nazwa %></td>
        <td><%= osoba_kont.imie %></td>
        <td><%= osoba_kont.nazwisko %></td>
        <td><%= osoba_kont.data_urodz %></td>
        <td><%= link_to 'Pokaż', osoba_kont,  class: "btn btn-link" %></td>
        <td><%= link_to 'Edycja', edit_osoba_kont_path(osoba_kont),  class: "btn btn-link" %></td>
        <td><%= link_to 'Skasuj', osoba_kont,  class: "btn btn-link", method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Nowa osoba kontaktowa', new_osoba_kont_path %>
