<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @osoba_kont.Imie %>
</p>

<p>
  <strong>Imiona:</strong>
  <%= @osoba_kont.Imiona %>
</p>

<p>
  <strong>Nazwisko:</strong>
  <%= @osoba_kont.Nazwisko %>
</p>

<p>
  <strong>Data urodz:</strong>
  <%= @osoba_kont.Data_urodz %>
</p>

<%= link_to 'Edit', edit_osoba_kont_path(@osoba_kont) %> |
<%= link_to 'Back', osoba_kont_index_path %>
